/* font-family: "Big Shoulders", sans-serif;
font-optical-sizing: auto;
font-weight: 600; */

/* ========== HERO SECTION ========== */
.homepage {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 30s infinite ease-in-out;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  flex-direction: column;
  padding: 2rem;
}

.hero-content {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 1.4;
}

@keyframes change {
  0% {
    background-image: url("../../assets/herobg1.png");
  }
  20% {
    background-image: url("../../assets/herobg2.png");
  }
  40% {
    background-image: url("../../assets/herobg3.png");
  }
  60% {
    background-image: url("../../assets/herobg4.png");
  }
  80% {
    background-image: url("../../assets/herobg5.png");
  }
  100% {
    background-image: url("../../assets/herobg1.png");
  }
}
.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .homepage {
    padding: 1rem;
  }
}
